.sign-up {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin-bottom: 15vh;
  
    .title {
      margin: 10px 0;
    }

    // .buttons  {
    //   display: flex;
    //   flex-direction: column;
    //   width: 50px 0;
    //   margin: 25px;
    // }
  }