.sign-up {
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: center;

  
    h2 {
      margin-bottom: 4vh;
    }

    .signup-buttons  {
      display: flex;
      flex-direction: column;
      width: 20px 0;
      margin-bottom: 15vh;
    }


  }